# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local

# Build
cache/
artifacts/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Deployment
deployment.json
 
backups/
frontend-old/